body {
    display: grid;
    place-items: center;
    padding-top:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(black,blue,white);
    background-repeat: no-repeat;
    cursor:pointer;
}

header {
    color: darkblue;
    border: 1px solid black;
    text-align: center;
    background-color: aqua;
    height: fit-content;
    width: max-content;
    padding-inline: 50px;
}

header:hover {
    color: aqua;
    background-color: darkblue;
}

.numeros {
    text-align: center; /* Centra el contenido dentro de la sección números */
}

.numeros ul {
    padding: 0;
    list-style-type: none;
}

.numeros li {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    background-color: yellowgreen;
    width: 160px
}

.numeros li:hover {
    background-color: rgb(106, 255, 168);
}

.numeros input {
    background-color: rgb(106, 255, 168);
    font-size: 150%;
    color: navy;
    font-weight: 900;
    width: 150px;
}

.numeros input:hover{
    background-color: rgb(22, 190, 252);

}

button {
    width: 100px;
    color: yellow;
    background-color: darkblue;
    font-size: 150%;
    font-weight: 700;
}

button:hover {
    color:darkblue;
    background-color: yellow;
}

h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border: 6px solid darkblue;
    padding: 5px;
    color: darkblue;
    background-color: aqua;
    width: max-content;
}